<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

    <title>毒鸡汤，壮士可要来一碗！</title>
    <meta content="我们精心熬制了有屎以来最毒1000多条经典毒鸡汤,句句“治愈”人心! 只为了帮你更好的看清人生认识自己，直面现实,直面惨淡的人生,不给你励志,不给你慰藉,像一根鞭猛的抽你一下,使你清醒,知道这个世界和你自己最真实的一面,是青少年手机里的必备宝典。"
          name="description">
    <meta content="鸡汤,毒鸡汤,馊鸡汤" name="keywords">
    <meta content="no-siteapp" http-equiv="Cache-Control">
    <meta content="yatang@126.com" name="author"/>
    <meta content="毒鸡汤 - 壮士可要来一碗！" property="og:title"/>
    <meta content="http://jitang.fun/" property="og:url"/>
    <meta content="http://jitang.fun/img/logo.png" property="og:image"/>
    <meta content="毒鸡汤 - 壮士可要来一碗！" property="og:site_name"/>
    <meta content="我们精心熬制了有屎以来最毒1000多条经典毒鸡汤,句句“治愈”人心! 只为了帮你更好的看清人生认识自己，直面现实,直面惨淡的人生,不给你励志,不给你慰藉,像一根鞭猛的抽你一下,使你清醒,知道这个世界和你自己最真实的一面,是青少年手机里的必备宝典。"
          property="og:description"/>
    <link href="/favicon.ico" id="page_favionc" rel="icon" type="image/x-icon">
    <link href="./static/min.css" rel="stylesheet">
    <link href="icon.png" rel="alternate icon" type="image/png">

</head>
<body>

<div class="main-wrapper" style="position: relative; top: -6vh;">
    <div class="container main-sentence justify-content-center text-center">
        <span id="sentence" th:styleappend="'font-size:2rem;background:'+${color}+';'" th:text="${data}"></span>
    </div>
</div>

<div class="foot-1" style="position: absolute; bottom: 14vh;width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <span class="btn btn-primary btn-filled btn-xs"><a class="btn btn-primary btn-filled btn-xs" href="/">再来一碗</a></span>
            </div>
        </div>
    </div>
</div>

</body>
</html>